/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.margin-bottom {

  margin-bottom: 10px;
}

.post-media-show img {

  border: 1px solid #423E3E;
}
.post-media-index img {

  border: 1px solid #423E3E;
}

.photoadroite {
  border: 1px solid #423E3E;
  margin: 5px 6px 15px 6px;
}

.photoadroite_profile {
  border: 1px solid #423E3E;
  margin: 5px 6px 15px 6px;
  width: 200px;
  height: 200px;
}

.photo_home {

  border: 1px solid #423E3E;

}

.photo_home_lg {

  border: 1px solid #423E3E;

}

.img_map {
  height: 307px;
  width: 307px;
}

img {
  border: 1px solid #423E3E;
}
.wrapper {
  background: gold;
}
