/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.margin-bottom {

  margin-bottom: 5px;
}

.post-media-show img {
  width: 100%;
  height: 400px;
}
.post-media-index img {
  width: 100%;
  height: 200px;
}


