/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.margin-bottom {

  margin-bottom: 10px;
}

.post-media-show img {
  width: 100%;
  height: 400px;
}
.post-media-index img {
  width: 100%;
  height: 200px;
}

.photoadroite {
  border: 2px solid #b0b0b0;
  margin: 5px 6px 15px 6px;
}

.photoadroite_profile {
  border: 2px solid #b0b0b0;
  margin: 5px 6px 15px 6px;
  width: 200px;
  height: 200px;

}
