<div class="banner" id = "banner-picture">
  <div class="banner-wrapper">
      <h1>Screen Family</h1>
      <p>The beginning of your cinema</p>
      <br>
      <%= render 'shared/search_bar' %>
  </div>
</div>
