<div class="banner banner-picture">
  <div class="banner-wrapper">
      <h1>Screen <span class = 'suite'> family</h2></h1>
      <p>The beginning of your cinema</p>
      <br>
      <%= render 'shared/form_projects' %>
  </div>
</div>
