<div class="container">
  <div class="row text-center">
    <form action="/projects" class="form">
      <div class="col-xs-6 col-sm-6 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
        <input name="start_date" type="date" class="form-control opacity over " placeholder="Start">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
        <input name="end_date" type="date" class="form-control opacity over " placeholder="End">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
        <select name="city" class="form-control opacity over" placeholder="City">
          <option value=""></option>
          <option value="Anaheim">Anaheim</option>
          <option value="Bakersfield">Bakersfield</option>
          <option value="Fresno">Fresno</option>
          <option value="Long Beach">Long Beach</option>
          <option value="Los Angeles">Los Angeles</option>
          <option value="Oakland">Oakland</option>
          <option value="Sacramento">Sacramento</option>
          <option value="San Diego">San Diego</option>
          <option value="San Francisco">San Francisco</option>
          <option value="San Jose">San Jose</option>
        </select>

      </div>
      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
        <select name="genre" class="form-control opacity over" placeholder="Genre">
          <option value=""></option>
          <option value="Action">Action</option>
          <option value="Adventure">Adventure</option>
          <option value="Animation">Animation</option>
          <option value="Comedy">Comedy</option>
          <option value="Crime">Crime</option>
          <option value="Documentary">Documentary</option>
          <option value="Drama">Drama</option>
          <option value="History">History</option>
          <option value="Horror">Horror</option>
          <option value="Musical">Musical</option>
          <option value="Romance">Romance</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Thriller">Thriller</option>
          <option value="War">War</option>
          <option value="Western">Western</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <input type="submit" class="btn opacity btn-primary btn-block" value="Search">
      </div>
      <br>
      <div class="col-xs-12 margin_top">
        <a class="btn btn-success btn-lg" id="scrolldown" href="#aboutus" role="button">Learn More</a>
      </div>
    </form>
  </div>
</div>
