<%= render 'shared/banner' %>
<br>
<div class="container ">
  <div class="row">
    <div class="col-md-6">
    <h1>Notre communauté.</h1>
    </div>
    <div class="col-md-6">
      <p>
      Screem family est une énorme communauté mondiale qui s'est construite autour de la créativité et des projets créatifs. Plus de 100 millions de personnes venues de tous les continents de la planète ont soutenu un projet Screem family.
      </p>
      <p>
      Les projets sont pour la plupart réalisés par d'incroyables créateurs dont vous n'avez jamais entendu parler,
      </p>
      <p>
      Chaque artiste, réalisateur, comedien deScreem family conserve le plein contrôle créatif de son travail et propose son projet à toute une communauté de contributeurs dynamiques.
      </p>
    </div>
  </div>
</div>
