<section class="module">

    <div class="container">

        <div class="row">
            <!-- CONTENT -->
            <div class="col-xs-10 col-sx-offset-1">
              <div class="tab-pane" id="discuss">
                  <% # mur de discussion %>
                  <ul class="coin_mess">
                    <% @messages.last(5).each do |message| %>
                    <% if @project.id == message.project_id %>
                      <li><strong><%= image_tag message.user.user_picture, class:"avatar avatar-large" %> <%= message.user.first_name %> - </strong><%= message.content %></li>
                      <br>
                      <% end %>
                    <% end %>
                  </ul>
                  <br>
                  <%= render "shared/form_messages" %>
              </div>
            </div>
        </div>

    </div>

</section>
