<div class="container">
  <div class="margin_top margin-bottom">
      <%= form_for @project do |f| %>
      <%= f.label :scenario %>
      <%= f.cktext_area :scenario %>
      <div class="margin_top_light">
        <%= f.button :submit, name:"INPUT", class:"btn btn-primary" %>
      </div>
      <% end %>
  </div>
</div>
