<div class="container">
  <div class="margin_top margin-bottom">
      <%= form_for @project do |f| %>
      <%= f.label :description %>
      <%= f.cktext_area :description %>
      <div class="margin_top">
        <%= f.button :input, name:"INPUT", class:"btn btn-block btn-round btn-d" %>
      </div>
      <% end %>
  </div>
</div>
