.project_movie_title {
	font-size: 3em;
	font-family: bold;
	text-decoration : underline;
}

.date {
// text-decoration : underline;
}

.project_movie_city {

}

.project_movie_genre {

}

.project_movie_synopsis {

}

.project_movie_scenario {

}

.project_movie_participants {

}

.project_movie_number_of_days {

}

.undeline {

}

.card_projects {
	text-align: center;
	height: 60em;
	background-color: white;
	border-radius: 1em;
}

.project-percent-pledged {
    background-color: black;
     height: 0.5%;
     border-radius: 1em;
}

.projects_search_bar {
// 	margin-left: 10em;
text-align: center;
}

.field {
	text-align: center;
	width: 10em;
}

.card_projects2 {
	background-color: grey;
	border-radius: 1em;
}

.img-card-back {
	border-radius: 1em;
	height: 100px;
}


.simple-calendar {
  .day {
  	height: 200px;
    font-family: bold;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {

  }
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {

  }

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

#myCarousel {
  height:450px;
}

.carousel-inner {
    height:450px;
 }
